DIV{
    display: flex;
}
img{
    /*width: 150px;*/
    height: 80px;
}
.nazat{
    background-color: #000000; 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}